body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#gameboard {
  display: grid;
  grid-auto-flow: default;
  height: 50vh;
  width: 50vh;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.square {
  background-color: white;
  cursor: pointer;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square:hover {
  background-color: cyan;
}

#one {
  border-right: solid 5px black;
  border-bottom: solid 5px black;
}

#two {
  border-right: solid 5px black;
  border-left: solid 5px black;
  border-bottom: solid 5px black;
}

#three {
  border-left: solid 5px black;
  border-bottom: solid 5px black;
}

#four {
  border-top: solid 5px black;
  border-right: solid 5px black;
  border-bottom: solid 5px black;
}

#five {
  border: solid 5px black;
}

#six {
  border-top: solid 5px black;
  border-left: solid 5px black;
  border-bottom: solid 5px black;
}

#seven {
  border-top: solid 5px black;
  border-right: solid 5px black;
}

#eight {
  border-top: solid 5px black;
  border-right: solid 5px black;
  border-left: solid 5px black;
}

#nine {
  border-top: solid 5px black;
  border-left: solid 5px black;
}
